$govuk-assets-path: "/play-mtp-twirl-frontend/assets/lib/govuk-frontend/govuk/assets/";

@import "lib/govuk-frontend/govuk/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

#hmrc-cookie-preference-display {

  border: 5px solid #00703c;

  &.hmrc-cookie-preference-display--hidden {
    display: none
  }
}
